/*============ CSS RESET ==============*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*============ END OF CSS RESET ==============*/

body 
{
    background-color: black;
    background-image: url(images/6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
nav
{
    position: fixed;
    top: 15px;
    width: 100%;
    height: 45px;
    background: rgba(36, 27, 27 ,.5);
    font-size: 0;
    display: inline-flex;
    justify-content: space-around;
}
nav a
{
    font-size: 15px;
    text-decoration: none;
    color: white;
    line-height: 50px;
    position: relative;
    text-align: center;
}
a:nth-child(1)
{
    flex-basis: 20%;
}
a:nth-child(2)
{
    flex-basis: 20%;
}
a:nth-child(3)
{
    flex-basis: 20%;
}
a:nth-child(4)
{
    flex-basis: 20%;
}
nav .current
{
    height: 100%;
    top: 0;
    background: #1abc9c;
    width: 100px;
    border-radius: 8px;
}

.container
{
    width: 71%;
    overflow: hidden;
    margin: auto;
    padding: 20px;
    height: auto;   
    margin-top: 100px;
    background: aliceblue;
}

@media all and ( min-width: 1080px)
{
    #hideonmobile1{display:none;}
    .sidebar
    {
        position: fixed;
        width: 13%;
        top: 100px;
        left: 0;
        height: auto;
        background: rgba(36, 27, 27 ,.5);
        font-size: 90%;
    }
    .sidebar a
    {
        display: block;
        padding: 10px 20px;
        color: rgb(250, 229, 229);
        text-decoration: none;
        letter-spacing: 2px;
    }
    .sidebar a:hover
    {
        margin-left: 20px;
        transition: 0.4s;
        color: #fff;
    }
    .blogName
    {
        font-size: 150%;
        font-weight: bold;
    }
}

@media all and (min-width: 401px) and (max-width: 1079px) 
{
    #sidebar { display: none; }
}

footer
{
    text-align: center;
}